* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: darkred;
  font-family: 'Rye', cursive;
}

.container {
  /* padding: 30px 0; */
  border: 6px solid #000000;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
}

.cats {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto 30px;
}

.cats img {
  max-width: 100%;
}

.wanted {
  text-align: center;
  font-size: 80px;
  margin-bottom: 30px;
}

.text {
  padding: 0 20px;
  text-align: justify;
}


@media(max-width: 400px) {
  .wanted {
    font-size: 45px;
  }

}